@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 13% 18%;
    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 47%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 18%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --card: 0 0% 100%;
    --card-foreground: 220 13% 18%;
    --primary: 220 13% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 25 95% 53%;
    --secondary-foreground: 220 13% 18%;
    --accent: 25 95% 63%;
    --accent-foreground: 220 13% 18%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --ring: 215 20% 65%;
    --radius: 0.75rem;
  }

  :root[class~="dark"] {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: 'Poppins', sans-serif;
  }
}

.hero-gradient {
  background: linear-gradient(to right, rgba(24, 24, 65, 0.8), rgba(63, 63, 191, 0.7));
}